& {
  font-size: 12px;
  font-family: $font-family-sans;
  color: $text-color;
  margin: 5px 0 25px 0;
  max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $black;
  }

  &.active {
    color: $black;
  }
}

.color-pos {
  color: $bar-positive3;
}

.color-neg {
  color: $bar-negative3;
}

h1 {
    font-size: 1.7rem;
    font-weight: normal;
    font-family: $font-family-sans;
}

h3 {
    font-size: 1.4rem;
    font-weight: normal;
    font-family: $font-family-serif;
    line-height: 1.3;
}

.spinner {
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 5em;
  color: $medium-grey;
}
